In [1]:
import pandas as pd

a = pd.read_excel (r'I:\Pattern Lab\Project\merged.xlsx') #for an earlier version of Excel, you may need to use the file extension of 'xls'
a.head()

,Timestamp,Score,ID,Gender,Height,Weight,CGPA,Daily spent time in social media (hour),Hometown,How many days in a week you feel more energetic,...,Current Place,Latitude cp,Longitude cp,Place of interest,Latitude pi,Longitude pi,Leisure time activity,Food you like most,Future plan,Typically your days are started at:
0,3/23/2019 19:10:21,0 / 2,151341004,NaN,5.7,NaN,NaN,NaN,NaN,NaN,...,Lalmatia,23.7571,90.3685,Switzerland,46.5475,7.98529,Fast Food,Newspaper,HS,09:00:00
1,3/24/2019 14:41:32,0 / 1,151341004,Male,5'6'',70.0,3.71,Below 1 hour,Feni,4,...,Lalmatia,23.7571,90.3685,Switzerland,46.5475,7.98529,Fast Food,Newspaper,HS,09:00:00
2,3/24/2019 14:29:31,0 / 1,151341021,Male,"5'3""",61.0,3.48,2019-05-02 00:00:00,Lakshmipur,4,...,Rayerbag,23.6938,90.4553,China,34.626,103.65,Regular Food,"TV Series, Documentaries",Higher Study,10.00 AM
3,3/24/2019 14:33:11,0 / 1,151341012,Male,5.8,78.0,2.90,Below 1 hour,Munshiganj,4,...,Zigatola,23.7381,90.3725,Cox's Bazar,21.4339,91.987,Regular Food,Sports,Don't have,09:00:00
4,3/24/2019 14:34:00,0 / 1,151341008,Female,5.3,48.0,3.33,2019-05-02 00:00:00,Bagerhat,3,...,Katasur,40.2824,-79.693,Bandarban,-7.73352,112.959,Kacchi Biriyani,Sleeping,Don't have,06:00:00

In [2]:
b=a[['ID','Gender','CGPA','Hobby']]
b.head()

          ID  Gender  CGPA                                              Hobby
0  151341004     NaN   NaN                                                NaN
1  151341004    Male  3.71                                     Playing guitar
2  151341021    Male  3.48  Watching TV Series, Anime, Documentaries. Maki...
3  151341012    Male  2.90                                          Traveling
4  151341008  Female  3.33                    Reading story books,travelling.

In [3]:
print(b)

            ID  Gender   CGPA  \
0    151341004     NaN    NaN
1    151341004    Male  3.710
2    151341021    Male  3.480
3    151341012    Male  2.900
4    151341008  Female  3.330
5    151341011    Male  3.720
6    151341029    Male  3.430
7    151341005  Female  3.270
8    151341006  Female  3.000
9    151341023  Female  3.420
10   151341009  Female  3.640
11   151341014    Male  3.360
12   151341026    Male  3.300
13   151341019    Male  2.750
14   151341013    Male  3.400
15   151341022    Male  2.690
16   151341027    Male  3.760
17   151341015    Male  2.965
18   151341037    Male  3.230
19   151341038  Female  3.000
20   151341035    Male  3.620
21   141440899  Female  3.620
22   141440945    Male  2.880
23   151341028    Male  3.380
24   151340998    Male  3.250
25   151341000  Female  3.690
26   151340977    Male  2.750
27   151340983    Male  2.987
28   151340981    Male  2.500
29   151340988  Female  3.530
..         ...     ...    ...
73   151340931    Male  3.500
74   151340926    Male  3.210
75   151340944    Male  3.640
76   151340942  Female  3.500
77   151340932    Male  3.400
78   151340933    Male  3.416
79   151340923    Male  3.680
80   151340935    Male  3.150
81   151340943    Male  3.010
82   151340947  Female  3.240
83   151340937  Female  3.390
84   151340939  Female  3.570
85   151340921    Male  3.000
86   141340900    Male  2.470
87   151341039    Male  3.300
88   151341020    Male  2.970
89   151341045    Male  3.440
90   151341017  Female  3.400
91   131440969    Male  2.800
92   151341016    Male  3.150
93   121440946    Male  2.340
94   151341010    Male  3.180
95   151341040  Female  3.246
96   151341043    Male  3.845
97   131440910  Female  2.500
98   151341031  Female  2.710
99   141440980    Male  2.400
100  151341036  Female  3.430
101  141440962    Male    NaN
102  151341044    Male  2.700

                                                 Hobby
0                                                  NaN
1                                       Playing guitar
2    Watching TV Series, Anime, Documentaries. Maki...
3                                            Traveling
4                      Reading story books,travelling.
5                                not specific anything
6                       Reading books, Watching movies
7                                       playing violin
8                                    browsing internet
9                                        Reading Books
10                             Reading, Petting animal
11                 Watching movies, listening to music
12                                             Drawing
13                 Watching cricket and football on tv
14                         anime, tv series and movies
15                                  Travelling, Gaming
16                                      Watching Movie
17                                          Travelling
18                                            coocking
19                                            Painting
20                                       Playing games
21                                       Reading Books
22                                    Playing Football
23                                    Playing Football
24                                  watching tv series
25                                            painting
26                                              Sports
27                                            sleeping
28                                      playing guitar
29                               movies, music, travel
..                                                 ...
73                                    Watching youtube
74                                         Photography
75                                       Playing games
76                      spending time with pet pigeons
77                                      Watching Movie
78                                              Gaming
79                                             Singing
80             Reading books, hanging out with friends
81                                   Watching football
82                                  collecting erasers
83                                  Reading, Traveling
84                                 Spenting time alone
85                                     Watching movies
86                                     Playing cricket
87                                              Gaming
88                      Listening Music, Playing Games
89                                               Music
90                                        Reading book
91                                        Reading book
92                                              gaming
93                                           Gardening
94                                     Watching Movies
95                                       Reading Books
96                                    Watching cricket
97                                       making sketch
98                                                 NaN
99                                           gardening
100                                            cooking
101                                    Watching Movies
102                                   teaching student

[103 rows x 4 columns]

In [4]:
b.dropna()

,ID,Gender,CGPA,Hobby
1,151341004,Male,3.710,Playing guitar
2,151341021,Male,3.480,"Watching TV Series, Anime, Documentaries. Maki..."
3,151341012,Male,2.900,Traveling
4,151341008,Female,3.330,"Reading story books,travelling."
5,151341011,Male,3.720,not specific anything
6,151341029,Male,3.430,"Reading books, Watching movies"
7,151341005,Female,3.270,playing violin
8,151341006,Female,3.000,browsing internet
9,151341023,Female,3.420,Reading Books
10,151341009,Female,3.640,"Reading, Petting animal"
11,151341014,Male,3.360,"Watching movies, listening to music"
12,151341026,Male,3.300,Drawing
13,151341019,Male,2.750,Watching cricket and football on tv
14,151341013,Male,3.400,"anime, tv series and movies"
15,151341022,Male,2.690,"Travelling, Gaming"
16,151341027,Male,3.760,Watching Movie
17,151341015,Male,2.965,Travelling
18,151341037,Male,3.230,coocking
19,151341038,Female,3.000,Painting
20,151341035,Male,3.620,Playing games
21,141440899,Female,3.620,Reading Books
22,141440945,Male,2.880,Playing Football
23,151341028,Male,3.380,Playing Football
24,151340998,Male,3.250,watching tv series
25,151341000,Female,3.690,painting
26,151340977,Male,2.750,Sports
27,151340983,Male,2.987,sleeping
28,151340981,Male,2.500,playing guitar
29,151340988,Female,3.530,"movies, music, travel"
30,151340994,Male,3.100,Digital Art
...,...,...,...,...
71,151340934,Male,3.150,"playing cricket, online games"
72,151340945,Male,3.430,Playing Cricket
73,151340931,Male,3.500,Watching youtube
74,151340926,Male,3.210,Photography
75,151340944,Male,3.640,Playing games
76,151340942,Female,3.500,spending time with pet pigeons
77,151340932,Male,3.400,Watching Movie
78,151340933,Male,3.416,Gaming
79,151340923,Male,3.680,Singing
80,151340935,Male,3.150,"Reading books, hanging out with friends"
81,151340943,Male,3.010,Watching football
82,151340947,Female,3.240,collecting erasers
83,151340937,Female,3.390,"Reading, Traveling"
84,151340939,Female,3.570,Spenting time alone
85,151340921,Male,3.000,Watching movies
86,141340900,Male,2.470,Playing cricket
87,151341039,Male,3.300,Gaming
88,151341020,Male,2.970,"Listening Music, Playing Games"
89,151341045,Male,3.440,Music
90,151341017,Female,3.400,Reading book
91,131440969,Male,2.800,Reading book
92,151341016,Male,3.150,gaming
93,121440946,Male,2.340,Gardening
94,151341010,Male,3.180,Watching Movies
95,151341040,Female,3.246,Reading Books
96,151341043,Male,3.845,Watching cricket
97,131440910,Female,2.500,making sketch
99,141440980,Male,2.400,gardening
100,151341036,Female,3.430,cooking
102,151341044,Male,2.700,teaching student

In [5]:
b=a[['ID','Gender','CGPA','Hobby']]
b.head()

          ID  Gender  CGPA                                              Hobby
0  151341004     NaN   NaN                                                NaN
1  151341004    Male  3.71                                     Playing guitar
2  151341021    Male  3.48  Watching TV Series, Anime, Documentaries. Maki...
3  151341012    Male  2.90                                          Traveling
4  151341008  Female  3.33                    Reading story books,travelling.

In [6]:
print(b)

            ID  Gender   CGPA  \
0    151341004     NaN    NaN
1    151341004    Male  3.710
2    151341021    Male  3.480
3    151341012    Male  2.900
4    151341008  Female  3.330
5    151341011    Male  3.720
6    151341029    Male  3.430
7    151341005  Female  3.270
8    151341006  Female  3.000
9    151341023  Female  3.420
10   151341009  Female  3.640
11   151341014    Male  3.360
12   151341026    Male  3.300
13   151341019    Male  2.750
14   151341013    Male  3.400
15   151341022    Male  2.690
16   151341027    Male  3.760
17   151341015    Male  2.965
18   151341037    Male  3.230
19   151341038  Female  3.000
20   151341035    Male  3.620
21   141440899  Female  3.620
22   141440945    Male  2.880
23   151341028    Male  3.380
24   151340998    Male  3.250
25   151341000  Female  3.690
26   151340977    Male  2.750
27   151340983    Male  2.987
28   151340981    Male  2.500
29   151340988  Female  3.530
..         ...     ...    ...
73   151340931    Male  3.500
74   151340926    Male  3.210
75   151340944    Male  3.640
76   151340942  Female  3.500
77   151340932    Male  3.400
78   151340933    Male  3.416
79   151340923    Male  3.680
80   151340935    Male  3.150
81   151340943    Male  3.010
82   151340947  Female  3.240
83   151340937  Female  3.390
84   151340939  Female  3.570
85   151340921    Male  3.000
86   141340900    Male  2.470
87   151341039    Male  3.300
88   151341020    Male  2.970
89   151341045    Male  3.440
90   151341017  Female  3.400
91   131440969    Male  2.800
92   151341016    Male  3.150
93   121440946    Male  2.340
94   151341010    Male  3.180
95   151341040  Female  3.246
96   151341043    Male  3.845
97   131440910  Female  2.500
98   151341031  Female  2.710
99   141440980    Male  2.400
100  151341036  Female  3.430
101  141440962    Male    NaN
102  151341044    Male  2.700

                                                 Hobby
0                                                  NaN
1                                       Playing guitar
2    Watching TV Series, Anime, Documentaries. Maki...
3                                            Traveling
4                      Reading story books,travelling.
5                                not specific anything
6                       Reading books, Watching movies
7                                       playing violin
8                                    browsing internet
9                                        Reading Books
10                             Reading, Petting animal
11                 Watching movies, listening to music
12                                             Drawing
13                 Watching cricket and football on tv
14                         anime, tv series and movies
15                                  Travelling, Gaming
16                                      Watching Movie
17                                          Travelling
18                                            coocking
19                                            Painting
20                                       Playing games
21                                       Reading Books
22                                    Playing Football
23                                    Playing Football
24                                  watching tv series
25                                            painting
26                                              Sports
27                                            sleeping
28                                      playing guitar
29                               movies, music, travel
..                                                 ...
73                                    Watching youtube
74                                         Photography
75                                       Playing games
76                      spending time with pet pigeons
77                                      Watching Movie
78                                              Gaming
79                                             Singing
80             Reading books, hanging out with friends
81                                   Watching football
82                                  collecting erasers
83                                  Reading, Traveling
84                                 Spenting time alone
85                                     Watching movies
86                                     Playing cricket
87                                              Gaming
88                      Listening Music, Playing Games
89                                               Music
90                                        Reading book
91                                        Reading book
92                                              gaming
93                                           Gardening
94                                     Watching Movies
95                                       Reading Books
96                                    Watching cricket
97                                       making sketch
98                                                 NaN
99                                           gardening
100                                            cooking
101                                    Watching Movies
102                                   teaching student

[103 rows x 4 columns]

In [7]:
b.to_excel('selected_columns.xlsx')

In [11]:
c=b.dropna()
print(c)

            ID  Gender   CGPA  \
1    151341004    Male  3.710
2    151341021    Male  3.480
3    151341012    Male  2.900
4    151341008  Female  3.330
5    151341011    Male  3.720
6    151341029    Male  3.430
7    151341005  Female  3.270
8    151341006  Female  3.000
9    151341023  Female  3.420
10   151341009  Female  3.640
11   151341014    Male  3.360
12   151341026    Male  3.300
13   151341019    Male  2.750
14   151341013    Male  3.400
15   151341022    Male  2.690
16   151341027    Male  3.760
17   151341015    Male  2.965
18   151341037    Male  3.230
19   151341038  Female  3.000
20   151341035    Male  3.620
21   141440899  Female  3.620
22   141440945    Male  2.880
23   151341028    Male  3.380
24   151340998    Male  3.250
25   151341000  Female  3.690
26   151340977    Male  2.750
27   151340983    Male  2.987
28   151340981    Male  2.500
29   151340988  Female  3.530
30   151340994    Male  3.100
..         ...     ...    ...
71   151340934    Male  3.150
72   151340945    Male  3.430
73   151340931    Male  3.500
74   151340926    Male  3.210
75   151340944    Male  3.640
76   151340942  Female  3.500
77   151340932    Male  3.400
78   151340933    Male  3.416
79   151340923    Male  3.680
80   151340935    Male  3.150
81   151340943    Male  3.010
82   151340947  Female  3.240
83   151340937  Female  3.390
84   151340939  Female  3.570
85   151340921    Male  3.000
86   141340900    Male  2.470
87   151341039    Male  3.300
88   151341020    Male  2.970
89   151341045    Male  3.440
90   151341017  Female  3.400
91   131440969    Male  2.800
92   151341016    Male  3.150
93   121440946    Male  2.340
94   151341010    Male  3.180
95   151341040  Female  3.246
96   151341043    Male  3.845
97   131440910  Female  2.500
99   141440980    Male  2.400
100  151341036  Female  3.430
102  151341044    Male  2.700

                                                 Hobby
1                                       Playing guitar
2    Watching TV Series, Anime, Documentaries. Maki...
3                                            Traveling
4                      Reading story books,travelling.
5                                not specific anything
6                       Reading books, Watching movies
7                                       playing violin
8                                    browsing internet
9                                        Reading Books
10                             Reading, Petting animal
11                 Watching movies, listening to music
12                                             Drawing
13                 Watching cricket and football on tv
14                         anime, tv series and movies
15                                  Travelling, Gaming
16                                      Watching Movie
17                                          Travelling
18                                            coocking
19                                            Painting
20                                       Playing games
21                                       Reading Books
22                                    Playing Football
23                                    Playing Football
24                                  watching tv series
25                                            painting
26                                              Sports
27                                            sleeping
28                                      playing guitar
29                               movies, music, travel
30                                         Digital Art
..                                                 ...
71                       playing cricket, online games
72                                     Playing Cricket
73                                    Watching youtube
74                                         Photography
75                                       Playing games
76                      spending time with pet pigeons
77                                      Watching Movie
78                                              Gaming
79                                             Singing
80             Reading books, hanging out with friends
81                                   Watching football
82                                  collecting erasers
83                                  Reading, Traveling
84                                 Spenting time alone
85                                     Watching movies
86                                     Playing cricket
87                                              Gaming
88                      Listening Music, Playing Games
89                                               Music
90                                        Reading book
91                                        Reading book
92                                              gaming
93                                           Gardening
94                                     Watching Movies
95                                       Reading Books
96                                    Watching cricket
97                                       making sketch
99                                           gardening
100                                            cooking
102                                   teaching student

[97 rows x 4 columns]

In [12]:
c.to_excel('selected_columns_without_missing_value.xlsx')

In [16]:
from sklearn.preprocessing import StandardScaler 
import pandas 
import numpy 

names = ['ID', 'Gender', 'CGPA', 'Hobby'] 

array = c.values 
  
# separate array into input and output components 
X = array[:,0:3] 
Y = array[:,3] 
scaler = StandardScaler().fit(X) 
rescaledX = scaler.transform(X) 
  
# summarize transformed data 
numpy.set_printoptions(precision=3) 
print(rescaledX[0:5,:])

ValueError: could not convert string to float: 'Male'

In [17]:
c.Gender = c.Gender.astype(float)

ValueError: could not convert string to float: 'Male'

In [18]:
c['Gender'].apply(lambda x:float(x))

ValueError: could not convert string to float: 'Male'

In [19]:
c['Gender'] = c['Gender'].astype('category')
c.Gender = c.Gender.cat.rename_categories([0,1])

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\User\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [21]:
c.columns = ['ID','Gender','CGPA','Hobby']
c['Gender'] = c['Gender'].astype('category')
c.Gender = c.Gender.cat.rename_categories([0,1])

c.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

          ID Gender  CGPA                                              Hobby
1  151341004      1  3.71                                     Playing guitar
2  151341021      1  3.48  Watching TV Series, Anime, Documentaries. Maki...
3  151341012      1  2.90                                          Traveling
4  151341008      0  3.33                    Reading story books,travelling.
5  151341011      1  3.72                              not specific anything

In [22]:
print(c)

            ID Gender   CGPA  \
1    151341004      1  3.710
2    151341021      1  3.480
3    151341012      1  2.900
4    151341008      0  3.330
5    151341011      1  3.720
6    151341029      1  3.430
7    151341005      0  3.270
8    151341006      0  3.000
9    151341023      0  3.420
10   151341009      0  3.640
11   151341014      1  3.360
12   151341026      1  3.300
13   151341019      1  2.750
14   151341013      1  3.400
15   151341022      1  2.690
16   151341027      1  3.760
17   151341015      1  2.965
18   151341037      1  3.230
19   151341038      0  3.000
20   151341035      1  3.620
21   141440899      0  3.620
22   141440945      1  2.880
23   151341028      1  3.380
24   151340998      1  3.250
25   151341000      0  3.690
26   151340977      1  2.750
27   151340983      1  2.987
28   151340981      1  2.500
29   151340988      0  3.530
30   151340994      1  3.100
..         ...    ...    ...
71   151340934      1  3.150
72   151340945      1  3.430
73   151340931      1  3.500
74   151340926      1  3.210
75   151340944      1  3.640
76   151340942      0  3.500
77   151340932      1  3.400
78   151340933      1  3.416
79   151340923      1  3.680
80   151340935      1  3.150
81   151340943      1  3.010
82   151340947      0  3.240
83   151340937      0  3.390
84   151340939      0  3.570
85   151340921      1  3.000
86   141340900      1  2.470
87   151341039      1  3.300
88   151341020      1  2.970
89   151341045      1  3.440
90   151341017      0  3.400
91   131440969      1  2.800
92   151341016      1  3.150
93   121440946      1  2.340
94   151341010      1  3.180
95   151341040      0  3.246
96   151341043      1  3.845
97   131440910      0  2.500
99   141440980      1  2.400
100  151341036      0  3.430
102  151341044      1  2.700

                                                 Hobby
1                                       Playing guitar
2    Watching TV Series, Anime, Documentaries. Maki...
3                                            Traveling
4                      Reading story books,travelling.
5                                not specific anything
6                       Reading books, Watching movies
7                                       playing violin
8                                    browsing internet
9                                        Reading Books
10                             Reading, Petting animal
11                 Watching movies, listening to music
12                                             Drawing
13                 Watching cricket and football on tv
14                         anime, tv series and movies
15                                  Travelling, Gaming
16                                      Watching Movie
17                                          Travelling
18                                            coocking
19                                            Painting
20                                       Playing games
21                                       Reading Books
22                                    Playing Football
23                                    Playing Football
24                                  watching tv series
25                                            painting
26                                              Sports
27                                            sleeping
28                                      playing guitar
29                               movies, music, travel
30                                         Digital Art
..                                                 ...
71                       playing cricket, online games
72                                     Playing Cricket
73                                    Watching youtube
74                                         Photography
75                                       Playing games
76                      spending time with pet pigeons
77                                      Watching Movie
78                                              Gaming
79                                             Singing
80             Reading books, hanging out with friends
81                                   Watching football
82                                  collecting erasers
83                                  Reading, Traveling
84                                 Spenting time alone
85                                     Watching movies
86                                     Playing cricket
87                                              Gaming
88                      Listening Music, Playing Games
89                                               Music
90                                        Reading book
91                                        Reading book
92                                              gaming
93                                           Gardening
94                                     Watching Movies
95                                       Reading Books
96                                    Watching cricket
97                                       making sketch
99                                           gardening
100                                            cooking
102                                   teaching student

[97 rows x 4 columns]

In [23]:
from sklearn.preprocessing import StandardScaler 
import pandas 
import numpy 

names = ['ID', 'Gender', 'CGPA', 'Hobby'] 

array = c.values 
  
# separate array into input and output components 
X = array[:,0:3] 
Y = array[:,3] 
scaler = StandardScaler().fit(X) 
rescaledX = scaler.transform(X) 
  
# summarize transformed data 
numpy.set_printoptions(precision=3) 
print(rescaledX[0:5,:])

[[ 0.251  0.718  1.35 ]
 [ 0.251  0.718  0.691]
 [ 0.251  0.718 -0.97 ]
 [ 0.251 -1.393  0.261]
 [ 0.251  0.718  1.378]]

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [24]:
print(rescaledX)

[[ 2.511e-01  7.181e-01  1.350e+00]
 [ 2.511e-01  7.181e-01  6.909e-01]
 [ 2.511e-01  7.181e-01 -9.700e-01]
 [ 2.511e-01 -1.393e+00  2.614e-01]
 [ 2.511e-01  7.181e-01  1.378e+00]
 [ 2.511e-01  7.181e-01  5.477e-01]
 [ 2.511e-01 -1.393e+00  8.957e-02]
 [ 2.511e-01 -1.393e+00 -6.836e-01]
 [ 2.511e-01 -1.393e+00  5.191e-01]
 [ 2.511e-01 -1.393e+00  1.149e+00]
 [ 2.511e-01  7.181e-01  3.473e-01]
 [ 2.511e-01  7.181e-01  1.755e-01]
 [ 2.511e-01  7.181e-01 -1.400e+00]
 [ 2.511e-01  7.181e-01  4.618e-01]
 [ 2.511e-01  7.181e-01 -1.571e+00]
 [ 2.511e-01  7.181e-01  1.493e+00]
 [ 2.511e-01  7.181e-01 -7.838e-01]
 [ 2.511e-01  7.181e-01 -2.498e-02]
 [ 2.511e-01 -1.393e+00 -6.836e-01]
 [ 2.511e-01  7.181e-01  1.092e+00]
 [-1.953e+00 -1.393e+00  1.092e+00]
 [-1.953e+00  7.181e-01 -1.027e+00]
 [ 2.511e-01  7.181e-01  4.046e-01]
 [ 2.511e-01  7.181e-01  3.230e-02]
 [ 2.511e-01 -1.393e+00  1.292e+00]
 [ 2.511e-01  7.181e-01 -1.400e+00]
 [ 2.511e-01  7.181e-01 -7.208e-01]
 [ 2.511e-01  7.181e-01 -2.115e+00]
 [ 2.511e-01 -1.393e+00  8.341e-01]
 [ 2.511e-01  7.181e-01 -3.972e-01]
 [ 2.511e-01  7.181e-01 -1.109e-01]
 [ 2.511e-01  7.181e-01 -9.700e-01]
 [ 2.511e-01  7.181e-01 -5.977e-01]
 [ 2.511e-01  7.181e-01 -5.404e-01]
 [ 2.511e-01 -1.393e+00  3.661e-03]
 [ 2.511e-01 -1.393e+00 -5.147e-01]
 [ 2.511e-01  7.181e-01  1.182e-01]
 [ 2.511e-01  7.181e-01  7.482e-01]
 [ 2.511e-01 -1.393e+00  6.050e-01]
 [ 2.511e-01 -1.393e+00  6.909e-01]
 [ 2.511e-01 -1.393e+00 -5.361e-02]
 [ 2.511e-01 -1.393e+00  1.980e+00]
 [ 2.511e-01 -1.393e+00  1.521e+00]
 [ 2.511e-01  7.181e-01  6.093e-02]
 [ 2.511e-01  7.181e-01  8.341e-01]
 [ 2.511e-01  7.181e-01  2.041e-01]
 [ 2.511e-01  7.181e-01 -5.920e-01]
 [ 2.511e-01  7.181e-01 -6.836e-01]
 [ 2.511e-01  7.181e-01 -1.400e+00]
 [ 2.511e-01  7.181e-01 -1.113e+00]
 [ 2.511e-01 -1.393e+00  9.773e-01]
 [ 2.511e-01 -1.393e+00 -6.550e-01]
 [ 2.511e-01 -1.393e+00  6.337e-01]
 [ 2.511e-01 -1.393e+00  4.618e-01]
 [ 2.511e-01  7.181e-01 -1.543e+00]
 [ 2.511e-01  7.181e-01 -1.142e+00]
 [ 2.511e-01 -1.393e+00  6.050e-01]
 [ 2.511e-01  7.181e-01  1.607e+00]
 [ 2.511e-01  7.181e-01  2.084e-02]
 [ 2.511e-01  7.181e-01  1.092e+00]
 [ 2.511e-01 -1.393e+00 -9.700e-01]
 [ 2.511e-01  7.181e-01  1.693e+00]
 [ 2.511e-01  7.181e-01  1.149e+00]
 [ 2.511e-01 -1.393e+00  6.337e-01]
 [ 2.511e-01 -1.393e+00 -1.113e+00]
 [ 2.511e-01  7.181e-01  2.041e-01]
 [ 2.511e-01 -1.393e+00 -3.972e-01]
 [ 2.511e-01  7.181e-01 -2.541e-01]
 [ 2.511e-01  7.181e-01  5.477e-01]
 [ 2.511e-01  7.181e-01  7.482e-01]
 [ 2.511e-01  7.181e-01 -8.225e-02]
 [ 2.511e-01  7.181e-01  1.149e+00]
 [ 2.511e-01 -1.393e+00  7.482e-01]
 [ 2.511e-01  7.181e-01  4.618e-01]
 [ 2.511e-01  7.181e-01  5.077e-01]
 [ 2.511e-01  7.181e-01  1.264e+00]
 [ 2.511e-01  7.181e-01 -2.541e-01]
 [ 2.511e-01  7.181e-01 -6.550e-01]
 [ 2.511e-01 -1.393e+00  3.661e-03]
 [ 2.511e-01 -1.393e+00  4.332e-01]
 [ 2.511e-01 -1.393e+00  9.486e-01]
 [ 2.511e-01  7.181e-01 -6.836e-01]
 [-1.975e+00  7.181e-01 -2.201e+00]
 [ 2.511e-01  7.181e-01  1.755e-01]
 [ 2.511e-01  7.181e-01 -7.695e-01]
 [ 2.511e-01  7.181e-01  5.764e-01]
 [ 2.511e-01 -1.393e+00  4.618e-01]
 [-4.180e+00  7.181e-01 -1.256e+00]
 [ 2.511e-01  7.181e-01 -2.541e-01]
 [-6.406e+00  7.181e-01 -2.574e+00]
 [ 2.511e-01  7.181e-01 -1.682e-01]
 [ 2.511e-01 -1.393e+00  2.084e-02]
 [ 2.511e-01  7.181e-01  1.736e+00]
 [-4.180e+00 -1.393e+00 -2.115e+00]
 [-1.953e+00  7.181e-01 -2.402e+00]
 [ 2.511e-01 -1.393e+00  5.477e-01]
 [ 2.511e-01  7.181e-01 -1.543e+00]]

In [25]:
from sklearn.preprocessing import StandardScaler 
import pandas 
import numpy 

names = ['ID', 'Gender', 'CGPA', 'Hobby'] 

array = c.values 
  
# separate array into input and output components 
X = array[:,0:4] 
Y = array[:,3] 
scaler = StandardScaler().fit(X) 
rescaledX = scaler.transform(X) 
  
# summarize transformed data 
numpy.set_printoptions(precision=3) 
print(rescaledX[0:5,:])

ValueError: could not convert string to float: 'teaching student'

In [26]:
c.columns = ['ID','Gender','CGPA','Hobby']
c['Hobby'] = c['Hobby'].astype('category')
c.Hobby = c.Hobby.cat.rename_categories([0,1])

c.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

ValueError: new categories need to have the same number of items as the old categories!

In [27]:
c.columns = ['ID','Gender','CGPA','Hobby']
c['Hobby'] = c['Hobby'].astype('category')
c.Hobby = c.Hobby.cat.rename_categories([0,1,2,3,4,5,6,7,8,9])

c.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

ValueError: new categories need to have the same number of items as the old categories!

In [28]:
print(c)

            ID Gender   CGPA  \
1    151341004      1  3.710
2    151341021      1  3.480
3    151341012      1  2.900
4    151341008      0  3.330
5    151341011      1  3.720
6    151341029      1  3.430
7    151341005      0  3.270
8    151341006      0  3.000
9    151341023      0  3.420
10   151341009      0  3.640
11   151341014      1  3.360
12   151341026      1  3.300
13   151341019      1  2.750
14   151341013      1  3.400
15   151341022      1  2.690
16   151341027      1  3.760
17   151341015      1  2.965
18   151341037      1  3.230
19   151341038      0  3.000
20   151341035      1  3.620
21   141440899      0  3.620
22   141440945      1  2.880
23   151341028      1  3.380
24   151340998      1  3.250
25   151341000      0  3.690
26   151340977      1  2.750
27   151340983      1  2.987
28   151340981      1  2.500
29   151340988      0  3.530
30   151340994      1  3.100
..         ...    ...    ...
71   151340934      1  3.150
72   151340945      1  3.430
73   151340931      1  3.500
74   151340926      1  3.210
75   151340944      1  3.640
76   151340942      0  3.500
77   151340932      1  3.400
78   151340933      1  3.416
79   151340923      1  3.680
80   151340935      1  3.150
81   151340943      1  3.010
82   151340947      0  3.240
83   151340937      0  3.390
84   151340939      0  3.570
85   151340921      1  3.000
86   141340900      1  2.470
87   151341039      1  3.300
88   151341020      1  2.970
89   151341045      1  3.440
90   151341017      0  3.400
91   131440969      1  2.800
92   151341016      1  3.150
93   121440946      1  2.340
94   151341010      1  3.180
95   151341040      0  3.246
96   151341043      1  3.845
97   131440910      0  2.500
99   141440980      1  2.400
100  151341036      0  3.430
102  151341044      1  2.700

                                                 Hobby
1                                       Playing guitar
2    Watching TV Series, Anime, Documentaries. Maki...
3                                            Traveling
4                      Reading story books,travelling.
5                                not specific anything
6                       Reading books, Watching movies
7                                       playing violin
8                                    browsing internet
9                                        Reading Books
10                             Reading, Petting animal
11                 Watching movies, listening to music
12                                             Drawing
13                 Watching cricket and football on tv
14                         anime, tv series and movies
15                                  Travelling, Gaming
16                                      Watching Movie
17                                          Travelling
18                                            coocking
19                                            Painting
20                                       Playing games
21                                       Reading Books
22                                    Playing Football
23                                    Playing Football
24                                  watching tv series
25                                            painting
26                                              Sports
27                                            sleeping
28                                      playing guitar
29                               movies, music, travel
30                                         Digital Art
..                                                 ...
71                       playing cricket, online games
72                                     Playing Cricket
73                                    Watching youtube
74                                         Photography
75                                       Playing games
76                      spending time with pet pigeons
77                                      Watching Movie
78                                              Gaming
79                                             Singing
80             Reading books, hanging out with friends
81                                   Watching football
82                                  collecting erasers
83                                  Reading, Traveling
84                                 Spenting time alone
85                                     Watching movies
86                                     Playing cricket
87                                              Gaming
88                      Listening Music, Playing Games
89                                               Music
90                                        Reading book
91                                        Reading book
92                                              gaming
93                                           Gardening
94                                     Watching Movies
95                                       Reading Books
96                                    Watching cricket
97                                       making sketch
99                                           gardening
100                                            cooking
102                                   teaching student

[97 rows x 4 columns]

In [29]:
d=c[['Gender','CGPA','Hobby']]
d.head()

  Gender  CGPA                                              Hobby
1      1  3.71                                     Playing guitar
2      1  3.48  Watching TV Series, Anime, Documentaries. Maki...
3      1  2.90                                          Traveling
4      0  3.33                    Reading story books,travelling.
5      1  3.72                              not specific anything

In [30]:
d.to_excel('binarized_gender.xlsx')

In [31]:
d.loc[d.Hobby == 'reading'||'Reading', 'name_match'] = 1 
d.loc[d.Hobby != 'reading'||'Reading', 'name_match'] = 0
 
print (df)

SyntaxError: invalid syntax (<ipython-input-31-921386096cf7>, line 1)

In [32]:
d.loc[d.Hobby == 'reading', 'name_match'] = 1 
d.loc[d.Hobby != 'reading', 'name_match'] = 0
 
print (df)

NameError: name 'df' is not defined

In [33]:
d.loc[d.Hobby == 'reading', 'name_match'] = 1 
d.loc[d.Hobby != 'reading', 'name_match'] = 0
 
print (d)

    Gender   CGPA                                              Hobby  \
1        1  3.710                                     Playing guitar
2        1  3.480  Watching TV Series, Anime, Documentaries. Maki...
3        1  2.900                                          Traveling
4        0  3.330                    Reading story books,travelling.
5        1  3.720                              not specific anything
6        1  3.430                     Reading books, Watching movies
7        0  3.270                                     playing violin
8        0  3.000                                  browsing internet
9        0  3.420                                      Reading Books
10       0  3.640                            Reading, Petting animal
11       1  3.360                Watching movies, listening to music
12       1  3.300                                            Drawing
13       1  2.750                Watching cricket and football on tv
14       1  3.400                        anime, tv series and movies
15       1  2.690                                 Travelling, Gaming
16       1  3.760                                     Watching Movie
17       1  2.965                                         Travelling
18       1  3.230                                           coocking
19       0  3.000                                           Painting
20       1  3.620                                      Playing games
21       0  3.620                                      Reading Books
22       1  2.880                                   Playing Football
23       1  3.380                                   Playing Football
24       1  3.250                                 watching tv series
25       0  3.690                                           painting
26       1  2.750                                             Sports
27       1  2.987                                           sleeping
28       1  2.500                                     playing guitar
29       0  3.530                              movies, music, travel
30       1  3.100                                        Digital Art
..     ...    ...                                                ...
71       1  3.150                      playing cricket, online games
72       1  3.430                                    Playing Cricket
73       1  3.500                                   Watching youtube
74       1  3.210                                        Photography
75       1  3.640                                      Playing games
76       0  3.500                     spending time with pet pigeons
77       1  3.400                                     Watching Movie
78       1  3.416                                             Gaming
79       1  3.680                                            Singing
80       1  3.150            Reading books, hanging out with friends
81       1  3.010                                  Watching football
82       0  3.240                                 collecting erasers
83       0  3.390                                 Reading, Traveling
84       0  3.570                                Spenting time alone
85       1  3.000                                    Watching movies
86       1  2.470                                    Playing cricket
87       1  3.300                                             Gaming
88       1  2.970                     Listening Music, Playing Games
89       1  3.440                                              Music
90       0  3.400                                       Reading book
91       1  2.800                                       Reading book
92       1  3.150                                             gaming
93       1  2.340                                          Gardening
94       1  3.180                                    Watching Movies
95       0  3.246                                      Reading Books
96       1  3.845                                   Watching cricket
97       0  2.500                                      making sketch
99       1  2.400                                          gardening
100      0  3.430                                            cooking
102      1  2.700                                   teaching student

     name_match
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8           0.0
9           0.0
10          0.0
11          0.0
12          0.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21          0.0
22          0.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          0.0
29          0.0
30          0.0
..          ...
71          0.0
72          0.0
73          0.0
74          0.0
75          0.0
76          0.0
77          0.0
78          0.0
79          0.0
80          0.0
81          0.0
82          0.0
83          0.0
84          0.0
85          0.0
86          0.0
87          0.0
88          0.0
89          0.0
90          0.0
91          0.0
92          0.0
93          0.0
94          0.0
95          0.0
96          0.0
97          0.0
99          0.0
100         0.0
102         0.0

[97 rows x 4 columns]

In [1]:
d.loc[d.Hobby == 'reading', 'name_match'] = 'Reading'
d.loc[d.Hobby != 'reading', 'name_match'] = 'Not reading'
 
print (d)

NameError: name 'd' is not defined

In [2]:
d=c[['Gender','CGPA','Hobby']]
d.head()

NameError: name 'c' is not defined

In [3]:
import pandas as pd

d = pd.read_excel (r'I:\Pattern Lab\Project\binarized_gender.xlsx') #for an earlier version of Excel, you may need to use the file extension of 'xls'
d.head()

   Gender  CGPA                                              Hobby
1       1  3.71                                     Playing guitar
2       1  3.48  Watching TV Series, Anime, Documentaries. Maki...
3       1  2.90                                          Traveling
4       0  3.33                    Reading story books,travelling.
5       1  3.72                              not specific anything

In [4]:
d.loc[d.Hobby == 'Reading', 'name_match'] = 'Reading'
d.loc[d.Hobby != 'Reading', 'name_match'] = 'Not reading'
 
print (d)

     Gender   CGPA                                              Hobby  \
1         1  3.710                                     Playing guitar
2         1  3.480  Watching TV Series, Anime, Documentaries. Maki...
3         1  2.900                                          Traveling
4         0  3.330                    Reading story books,travelling.
5         1  3.720                              not specific anything
6         1  3.430                     Reading books, Watching movies
7         0  3.270                                     playing violin
8         0  3.000                                  browsing internet
9         0  3.420                                      Reading Books
10        0  3.640                            Reading, Petting animal
11        1  3.360                Watching movies, listening to music
12        1  3.300                                            Drawing
13        1  2.750                Watching cricket and football on tv
14        1  3.400                        anime, tv series and movies
15        1  2.690                                 Travelling, Gaming
16        1  3.760                                     Watching Movie
17        1  2.965                                         Travelling
18        1  3.230                                           coocking
19        0  3.000                                           Painting
20        1  3.620                                      Playing games
21        0  3.620                                      Reading Books
22        1  2.880                                   Playing Football
23        1  3.380                                   Playing Football
24        1  3.250                                 watching tv series
25        0  3.690                                           painting
26        1  2.750                                             Sports
27        1  2.987                                           sleeping
28        1  2.500                                     playing guitar
29        0  3.530                              movies, music, travel
30        1  3.100                                        Digital Art
..      ...    ...                                                ...
71        1  3.150                      playing cricket, online games
72        1  3.430                                    Playing Cricket
73        1  3.500                                   Watching youtube
74        1  3.210                                        Photography
75        1  3.640                                      Playing games
76        0  3.500                     spending time with pet pigeons
77        1  3.400                                     Watching Movie
78        1  3.416                                             Gaming
79        1  3.680                                            Singing
80        1  3.150            Reading books, hanging out with friends
81        1  3.010                                  Watching football
82        0  3.240                                 collecting erasers
83        0  3.390                                 Reading, Traveling
84        0  3.570                                Spenting time alone
85        1  3.000                                    Watching movies
86        1  2.470                                    Playing cricket
87        1  3.300                                             Gaming
88        1  2.970                     Listening Music, Playing Games
89        1  3.440                                              Music
90        0  3.400                                       Reading book
91        1  2.800                                       Reading book
92        1  3.150                                             gaming
93        1  2.340                                          Gardening
94        1  3.180                                    Watching Movies
95        0  3.246                                      Reading Books
96        1  3.845                                   Watching cricket
97        0  2.500                                      making sketch
99        1  2.400                                          gardening
100       0  3.430                                            cooking
102       1  2.700                                   teaching student

      name_match
1    Not reading
2    Not reading
3    Not reading
4    Not reading
5    Not reading
6    Not reading
7    Not reading
8    Not reading
9    Not reading
10   Not reading
11   Not reading
12   Not reading
13   Not reading
14   Not reading
15   Not reading
16   Not reading
17   Not reading
18   Not reading
19   Not reading
20   Not reading
21   Not reading
22   Not reading
23   Not reading
24   Not reading
25   Not reading
26   Not reading
27   Not reading
28   Not reading
29   Not reading
30   Not reading
..           ...
71   Not reading
72   Not reading
73   Not reading
74   Not reading
75   Not reading
76   Not reading
77   Not reading
78   Not reading
79   Not reading
80   Not reading
81   Not reading
82   Not reading
83   Not reading
84   Not reading
85   Not reading
86   Not reading
87   Not reading
88   Not reading
89   Not reading
90   Not reading
91   Not reading
92   Not reading
93   Not reading
94   Not reading
95   Not reading
96   Not reading
97   Not reading
99   Not reading
100  Not reading
102  Not reading

[97 rows x 4 columns]

In [5]:
d.loc[d.Hobby == '%Reading%', 'name_match'] = 'Reading'
d.loc[d.Hobby != '%Reading%', 'name_match'] = 'Not reading'
 
print (d)

     Gender   CGPA                                              Hobby  \
1         1  3.710                                     Playing guitar
2         1  3.480  Watching TV Series, Anime, Documentaries. Maki...
3         1  2.900                                          Traveling
4         0  3.330                    Reading story books,travelling.
5         1  3.720                              not specific anything
6         1  3.430                     Reading books, Watching movies
7         0  3.270                                     playing violin
8         0  3.000                                  browsing internet
9         0  3.420                                      Reading Books
10        0  3.640                            Reading, Petting animal
11        1  3.360                Watching movies, listening to music
12        1  3.300                                            Drawing
13        1  2.750                Watching cricket and football on tv
14        1  3.400                        anime, tv series and movies
15        1  2.690                                 Travelling, Gaming
16        1  3.760                                     Watching Movie
17        1  2.965                                         Travelling
18        1  3.230                                           coocking
19        0  3.000                                           Painting
20        1  3.620                                      Playing games
21        0  3.620                                      Reading Books
22        1  2.880                                   Playing Football
23        1  3.380                                   Playing Football
24        1  3.250                                 watching tv series
25        0  3.690                                           painting
26        1  2.750                                             Sports
27        1  2.987                                           sleeping
28        1  2.500                                     playing guitar
29        0  3.530                              movies, music, travel
30        1  3.100                                        Digital Art
..      ...    ...                                                ...
71        1  3.150                      playing cricket, online games
72        1  3.430                                    Playing Cricket
73        1  3.500                                   Watching youtube
74        1  3.210                                        Photography
75        1  3.640                                      Playing games
76        0  3.500                     spending time with pet pigeons
77        1  3.400                                     Watching Movie
78        1  3.416                                             Gaming
79        1  3.680                                            Singing
80        1  3.150            Reading books, hanging out with friends
81        1  3.010                                  Watching football
82        0  3.240                                 collecting erasers
83        0  3.390                                 Reading, Traveling
84        0  3.570                                Spenting time alone
85        1  3.000                                    Watching movies
86        1  2.470                                    Playing cricket
87        1  3.300                                             Gaming
88        1  2.970                     Listening Music, Playing Games
89        1  3.440                                              Music
90        0  3.400                                       Reading book
91        1  2.800                                       Reading book
92        1  3.150                                             gaming
93        1  2.340                                          Gardening
94        1  3.180                                    Watching Movies
95        0  3.246                                      Reading Books
96        1  3.845                                   Watching cricket
97        0  2.500                                      making sketch
99        1  2.400                                          gardening
100       0  3.430                                            cooking
102       1  2.700                                   teaching student

      name_match
1    Not reading
2    Not reading
3    Not reading
4    Not reading
5    Not reading
6    Not reading
7    Not reading
8    Not reading
9    Not reading
10   Not reading
11   Not reading
12   Not reading
13   Not reading
14   Not reading
15   Not reading
16   Not reading
17   Not reading
18   Not reading
19   Not reading
20   Not reading
21   Not reading
22   Not reading
23   Not reading
24   Not reading
25   Not reading
26   Not reading
27   Not reading
28   Not reading
29   Not reading
30   Not reading
..           ...
71   Not reading
72   Not reading
73   Not reading
74   Not reading
75   Not reading
76   Not reading
77   Not reading
78   Not reading
79   Not reading
80   Not reading
81   Not reading
82   Not reading
83   Not reading
84   Not reading
85   Not reading
86   Not reading
87   Not reading
88   Not reading
89   Not reading
90   Not reading
91   Not reading
92   Not reading
93   Not reading
94   Not reading
95   Not reading
96   Not reading
97   Not reading
99   Not reading
100  Not reading
102  Not reading

[97 rows x 4 columns]

In [6]:
d[d['Hobby'].str.contains('eading')]

    Gender   CGPA                                    Hobby   name_match
4        0  3.330          Reading story books,travelling.  Not reading
6        1  3.430           Reading books, Watching movies  Not reading
9        0  3.420                            Reading Books  Not reading
10       0  3.640                  Reading, Petting animal  Not reading
21       0  3.620                            Reading Books  Not reading
34       1  3.050                   Reading,Writing,Gaming  Not reading
40       0  3.450                             reading book  Not reading
44       0  3.770                            Reading Books  Not reading
46       1  3.530                        Reading Newspaper  Not reading
49       1  3.000                            Reading books  Not reading
55       0  3.400                             Reading book  Not reading
80       1  3.150  Reading books, hanging out with friends  Not reading
83       0  3.390                       Reading, Traveling  Not reading
90       0  3.400                             Reading book  Not reading
91       1  2.800                             Reading book  Not reading
95       0  3.246                            Reading Books  Not reading

In [7]:
import pandas as pd

d = pd.read_excel (r'I:\Pattern Lab\Project\binarized_gender.xlsx') #for an earlier version of Excel, you may need to use the file extension of 'xls'
d.head()

   Gender  CGPA                                              Hobby
1       1  3.71                                     Playing guitar
2       1  3.48  Watching TV Series, Anime, Documentaries. Maki...
3       1  2.90                                          Traveling
4       0  3.33                    Reading story books,travelling.
5       1  3.72                              not specific anything

In [8]:
d.loc[d['Hobby'].str.contains('eading')], 'name_match'] = 'Reading'
d.loc[d['Hobby'].str.contains!('eading')], 'name_match'] = 'Not reading'
print (d)

SyntaxError: invalid syntax (<ipython-input-8-1452ba04277e>, line 1)

In [10]:
d[d['Hobby'].str.contains('eading'),'n']='Reading'

print (d)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [11]:
d['Hobby'].str.contains('eading',regex=True)

1      False
2      False
3      False
4       True
5      False
6       True
7      False
8      False
9       True
10      True
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
       ...
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80      True
81     False
82     False
83      True
84     False
85     False
86     False
87     False
88     False
89     False
90      True
91      True
92     False
93     False
94     False
95      True
96     False
97     False
99     False
100    False
102    False
Name: Hobby, Length: 97, dtype: bool

In [12]:
d[d['Hobby'].str.contains('eading',regex=True)]
print(d)

     Gender   CGPA                                              Hobby
1         1  3.710                                     Playing guitar
2         1  3.480  Watching TV Series, Anime, Documentaries. Maki...
3         1  2.900                                          Traveling
4         0  3.330                    Reading story books,travelling.
5         1  3.720                              not specific anything
6         1  3.430                     Reading books, Watching movies
7         0  3.270                                     playing violin
8         0  3.000                                  browsing internet
9         0  3.420                                      Reading Books
10        0  3.640                            Reading, Petting animal
11        1  3.360                Watching movies, listening to music
12        1  3.300                                            Drawing
13        1  2.750                Watching cricket and football on tv
14        1  3.400                        anime, tv series and movies
15        1  2.690                                 Travelling, Gaming
16        1  3.760                                     Watching Movie
17        1  2.965                                         Travelling
18        1  3.230                                           coocking
19        0  3.000                                           Painting
20        1  3.620                                      Playing games
21        0  3.620                                      Reading Books
22        1  2.880                                   Playing Football
23        1  3.380                                   Playing Football
24        1  3.250                                 watching tv series
25        0  3.690                                           painting
26        1  2.750                                             Sports
27        1  2.987                                           sleeping
28        1  2.500                                     playing guitar
29        0  3.530                              movies, music, travel
30        1  3.100                                        Digital Art
..      ...    ...                                                ...
71        1  3.150                      playing cricket, online games
72        1  3.430                                    Playing Cricket
73        1  3.500                                   Watching youtube
74        1  3.210                                        Photography
75        1  3.640                                      Playing games
76        0  3.500                     spending time with pet pigeons
77        1  3.400                                     Watching Movie
78        1  3.416                                             Gaming
79        1  3.680                                            Singing
80        1  3.150            Reading books, hanging out with friends
81        1  3.010                                  Watching football
82        0  3.240                                 collecting erasers
83        0  3.390                                 Reading, Traveling
84        0  3.570                                Spenting time alone
85        1  3.000                                    Watching movies
86        1  2.470                                    Playing cricket
87        1  3.300                                             Gaming
88        1  2.970                     Listening Music, Playing Games
89        1  3.440                                              Music
90        0  3.400                                       Reading book
91        1  2.800                                       Reading book
92        1  3.150                                             gaming
93        1  2.340                                          Gardening
94        1  3.180                                    Watching Movies
95        0  3.246                                      Reading Books
96        1  3.845                                   Watching cricket
97        0  2.500                                      making sketch
99        1  2.400                                          gardening
100       0  3.430                                            cooking
102       1  2.700                                   teaching student

[97 rows x 3 columns]

In [13]:
e=d['Hobby'].str.contains('eading',regex=True)
print(e)

1      False
2      False
3      False
4       True
5      False
6       True
7      False
8      False
9       True
10      True
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21      True
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
       ...
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80      True
81     False
82     False
83      True
84     False
85     False
86     False
87     False
88     False
89     False
90      True
91      True
92     False
93     False
94     False
95      True
96     False
97     False
99     False
100    False
102    False
Name: Hobby, Length: 97, dtype: bool

In [14]:
f=pd.merge(d,e)
print(f)

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

In [15]:
d[d['Hobby'].str.contains("eading")]

    Gender   CGPA                                    Hobby
4        0  3.330          Reading story books,travelling.
6        1  3.430           Reading books, Watching movies
9        0  3.420                            Reading Books
10       0  3.640                  Reading, Petting animal
21       0  3.620                            Reading Books
34       1  3.050                   Reading,Writing,Gaming
40       0  3.450                             reading book
44       0  3.770                            Reading Books
46       1  3.530                        Reading Newspaper
49       1  3.000                            Reading books
55       0  3.400                             Reading book
80       1  3.150  Reading books, hanging out with friends
83       0  3.390                       Reading, Traveling
90       0  3.400                             Reading book
91       1  2.800                             Reading book
95       0  3.246                            Reading Books

In [16]:
d[d['Hobby'].str.contains("eading")==True]

    Gender   CGPA                                    Hobby
4        0  3.330          Reading story books,travelling.
6        1  3.430           Reading books, Watching movies
9        0  3.420                            Reading Books
10       0  3.640                  Reading, Petting animal
21       0  3.620                            Reading Books
34       1  3.050                   Reading,Writing,Gaming
40       0  3.450                             reading book
44       0  3.770                            Reading Books
46       1  3.530                        Reading Newspaper
49       1  3.000                            Reading books
55       0  3.400                             Reading book
80       1  3.150  Reading books, hanging out with friends
83       0  3.390                       Reading, Traveling
90       0  3.400                             Reading book
91       1  2.800                             Reading book
95       0  3.246                            Reading Books

In [17]:
d[d['Hobby'].str.contains("eading")]
print(d)

     Gender   CGPA                                              Hobby
1         1  3.710                                     Playing guitar
2         1  3.480  Watching TV Series, Anime, Documentaries. Maki...
3         1  2.900                                          Traveling
4         0  3.330                    Reading story books,travelling.
5         1  3.720                              not specific anything
6         1  3.430                     Reading books, Watching movies
7         0  3.270                                     playing violin
8         0  3.000                                  browsing internet
9         0  3.420                                      Reading Books
10        0  3.640                            Reading, Petting animal
11        1  3.360                Watching movies, listening to music
12        1  3.300                                            Drawing
13        1  2.750                Watching cricket and football on tv
14        1  3.400                        anime, tv series and movies
15        1  2.690                                 Travelling, Gaming
16        1  3.760                                     Watching Movie
17        1  2.965                                         Travelling
18        1  3.230                                           coocking
19        0  3.000                                           Painting
20        1  3.620                                      Playing games
21        0  3.620                                      Reading Books
22        1  2.880                                   Playing Football
23        1  3.380                                   Playing Football
24        1  3.250                                 watching tv series
25        0  3.690                                           painting
26        1  2.750                                             Sports
27        1  2.987                                           sleeping
28        1  2.500                                     playing guitar
29        0  3.530                              movies, music, travel
30        1  3.100                                        Digital Art
..      ...    ...                                                ...
71        1  3.150                      playing cricket, online games
72        1  3.430                                    Playing Cricket
73        1  3.500                                   Watching youtube
74        1  3.210                                        Photography
75        1  3.640                                      Playing games
76        0  3.500                     spending time with pet pigeons
77        1  3.400                                     Watching Movie
78        1  3.416                                             Gaming
79        1  3.680                                            Singing
80        1  3.150            Reading books, hanging out with friends
81        1  3.010                                  Watching football
82        0  3.240                                 collecting erasers
83        0  3.390                                 Reading, Traveling
84        0  3.570                                Spenting time alone
85        1  3.000                                    Watching movies
86        1  2.470                                    Playing cricket
87        1  3.300                                             Gaming
88        1  2.970                     Listening Music, Playing Games
89        1  3.440                                              Music
90        0  3.400                                       Reading book
91        1  2.800                                       Reading book
92        1  3.150                                             gaming
93        1  2.340                                          Gardening
94        1  3.180                                    Watching Movies
95        0  3.246                                      Reading Books
96        1  3.845                                   Watching cricket
97        0  2.500                                      making sketch
99        1  2.400                                          gardening
100       0  3.430                                            cooking
102       1  2.700                                   teaching student

[97 rows x 3 columns]

In [18]:
e=d[d['Hobby'].str.contains("eading")]
e.columns = ['Gender','CGPA','Hobby']
e['Gender'] = e['Gender'].astype('category')
e.Gender = e.Gender.cat.rename_categories([1])

e.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: new categories need to have the same number of items as the old categories!

In [19]:
d.columns = ['Gender','CGPA','Hobby']
d['Gender'] = d['Gender'].str.contains("eading")].astype('category')
d.Gender = d.Gender.cat.rename_categories([0,1])

d.head()

SyntaxError: invalid syntax (<ipython-input-19-d51319b2f4b2>, line 2)

In [20]:
e=d[d['Hobby'].str.contains("eading")]
e.columns = ['Gender','CGPA','Hobby']
e['Hobby'] = e['Hobby'].astype('category')
e.Hobby = e.Hobby.cat.rename_categories([1])

e.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: new categories need to have the same number of items as the old categories!

In [21]:
import numpy as np
d['Match'] = np.where(d['Hobby'].str.contains("eading"), 'yes', 'no')
print(d)

     Gender   CGPA                                              Hobby Match
1         1  3.710                                     Playing guitar    no
2         1  3.480  Watching TV Series, Anime, Documentaries. Maki...    no
3         1  2.900                                          Traveling    no
4         0  3.330                    Reading story books,travelling.   yes
5         1  3.720                              not specific anything    no
6         1  3.430                     Reading books, Watching movies   yes
7         0  3.270                                     playing violin    no
8         0  3.000                                  browsing internet    no
9         0  3.420                                      Reading Books   yes
10        0  3.640                            Reading, Petting animal   yes
11        1  3.360                Watching movies, listening to music    no
12        1  3.300                                            Drawing    no
13        1  2.750                Watching cricket and football on tv    no
14        1  3.400                        anime, tv series and movies    no
15        1  2.690                                 Travelling, Gaming    no
16        1  3.760                                     Watching Movie    no
17        1  2.965                                         Travelling    no
18        1  3.230                                           coocking    no
19        0  3.000                                           Painting    no
20        1  3.620                                      Playing games    no
21        0  3.620                                      Reading Books   yes
22        1  2.880                                   Playing Football    no
23        1  3.380                                   Playing Football    no
24        1  3.250                                 watching tv series    no
25        0  3.690                                           painting    no
26        1  2.750                                             Sports    no
27        1  2.987                                           sleeping    no
28        1  2.500                                     playing guitar    no
29        0  3.530                              movies, music, travel    no
30        1  3.100                                        Digital Art    no
..      ...    ...                                                ...   ...
71        1  3.150                      playing cricket, online games    no
72        1  3.430                                    Playing Cricket    no
73        1  3.500                                   Watching youtube    no
74        1  3.210                                        Photography    no
75        1  3.640                                      Playing games    no
76        0  3.500                     spending time with pet pigeons    no
77        1  3.400                                     Watching Movie    no
78        1  3.416                                             Gaming    no
79        1  3.680                                            Singing    no
80        1  3.150            Reading books, hanging out with friends   yes
81        1  3.010                                  Watching football    no
82        0  3.240                                 collecting erasers    no
83        0  3.390                                 Reading, Traveling   yes
84        0  3.570                                Spenting time alone    no
85        1  3.000                                    Watching movies    no
86        1  2.470                                    Playing cricket    no
87        1  3.300                                             Gaming    no
88        1  2.970                     Listening Music, Playing Games    no
89        1  3.440                                              Music    no
90        0  3.400                                       Reading book   yes
91        1  2.800                                       Reading book   yes
92        1  3.150                                             gaming    no
93        1  2.340                                          Gardening    no
94        1  3.180                                    Watching Movies    no
95        0  3.246                                      Reading Books   yes
96        1  3.845                                   Watching cricket    no
97        0  2.500                                      making sketch    no
99        1  2.400                                          gardening    no
100       0  3.430                                            cooking    no
102       1  2.700                                   teaching student    no

[97 rows x 4 columns]

In [22]:
d['Reading_Match'] = np.where(d['Hobby'].str.contains("eading"), 'yes', 'no')
print(d)

     Gender   CGPA                                              Hobby Match  \
1         1  3.710                                     Playing guitar    no
2         1  3.480  Watching TV Series, Anime, Documentaries. Maki...    no
3         1  2.900                                          Traveling    no
4         0  3.330                    Reading story books,travelling.   yes
5         1  3.720                              not specific anything    no
6         1  3.430                     Reading books, Watching movies   yes
7         0  3.270                                     playing violin    no
8         0  3.000                                  browsing internet    no
9         0  3.420                                      Reading Books   yes
10        0  3.640                            Reading, Petting animal   yes
11        1  3.360                Watching movies, listening to music    no
12        1  3.300                                            Drawing    no
13        1  2.750                Watching cricket and football on tv    no
14        1  3.400                        anime, tv series and movies    no
15        1  2.690                                 Travelling, Gaming    no
16        1  3.760                                     Watching Movie    no
17        1  2.965                                         Travelling    no
18        1  3.230                                           coocking    no
19        0  3.000                                           Painting    no
20        1  3.620                                      Playing games    no
21        0  3.620                                      Reading Books   yes
22        1  2.880                                   Playing Football    no
23        1  3.380                                   Playing Football    no
24        1  3.250                                 watching tv series    no
25        0  3.690                                           painting    no
26        1  2.750                                             Sports    no
27        1  2.987                                           sleeping    no
28        1  2.500                                     playing guitar    no
29        0  3.530                              movies, music, travel    no
30        1  3.100                                        Digital Art    no
..      ...    ...                                                ...   ...
71        1  3.150                      playing cricket, online games    no
72        1  3.430                                    Playing Cricket    no
73        1  3.500                                   Watching youtube    no
74        1  3.210                                        Photography    no
75        1  3.640                                      Playing games    no
76        0  3.500                     spending time with pet pigeons    no
77        1  3.400                                     Watching Movie    no
78        1  3.416                                             Gaming    no
79        1  3.680                                            Singing    no
80        1  3.150            Reading books, hanging out with friends   yes
81        1  3.010                                  Watching football    no
82        0  3.240                                 collecting erasers    no
83        0  3.390                                 Reading, Traveling   yes
84        0  3.570                                Spenting time alone    no
85        1  3.000                                    Watching movies    no
86        1  2.470                                    Playing cricket    no
87        1  3.300                                             Gaming    no
88        1  2.970                     Listening Music, Playing Games    no
89        1  3.440                                              Music    no
90        0  3.400                                       Reading book   yes
91        1  2.800                                       Reading book   yes
92        1  3.150                                             gaming    no
93        1  2.340                                          Gardening    no
94        1  3.180                                    Watching Movies    no
95        0  3.246                                      Reading Books   yes
96        1  3.845                                   Watching cricket    no
97        0  2.500                                      making sketch    no
99        1  2.400                                          gardening    no
100       0  3.430                                            cooking    no
102       1  2.700                                   teaching student    no

    Reading_Match
1              no
2              no
3              no
4             yes
5              no
6             yes
7              no
8              no
9             yes
10            yes
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21            yes
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
..            ...
71             no
72             no
73             no
74             no
75             no
76             no
77             no
78             no
79             no
80            yes
81             no
82             no
83            yes
84             no
85             no
86             no
87             no
88             no
89             no
90            yes
91            yes
92             no
93             no
94             no
95            yes
96             no
97             no
99             no
100            no
102            no

[97 rows x 5 columns]

In [23]:
import pandas as pd

d = pd.read_excel (r'I:\Pattern Lab\Project\binarized_gender.xlsx') #for an earlier version of Excel, you may need to use the file extension of 'xls'
d.head()

   Gender  CGPA                                              Hobby
1       1  3.71                                     Playing guitar
2       1  3.48  Watching TV Series, Anime, Documentaries. Maki...
3       1  2.90                                          Traveling
4       0  3.33                    Reading story books,travelling.
5       1  3.72                              not specific anything

In [24]:
d['Reading_Hobby'] = np.where(d['Hobby'].str.contains("eading"), 'yes', 'no')
print(d)

     Gender   CGPA                                              Hobby  \
1         1  3.710                                     Playing guitar
2         1  3.480  Watching TV Series, Anime, Documentaries. Maki...
3         1  2.900                                          Traveling
4         0  3.330                    Reading story books,travelling.
5         1  3.720                              not specific anything
6         1  3.430                     Reading books, Watching movies
7         0  3.270                                     playing violin
8         0  3.000                                  browsing internet
9         0  3.420                                      Reading Books
10        0  3.640                            Reading, Petting animal
11        1  3.360                Watching movies, listening to music
12        1  3.300                                            Drawing
13        1  2.750                Watching cricket and football on tv
14        1  3.400                        anime, tv series and movies
15        1  2.690                                 Travelling, Gaming
16        1  3.760                                     Watching Movie
17        1  2.965                                         Travelling
18        1  3.230                                           coocking
19        0  3.000                                           Painting
20        1  3.620                                      Playing games
21        0  3.620                                      Reading Books
22        1  2.880                                   Playing Football
23        1  3.380                                   Playing Football
24        1  3.250                                 watching tv series
25        0  3.690                                           painting
26        1  2.750                                             Sports
27        1  2.987                                           sleeping
28        1  2.500                                     playing guitar
29        0  3.530                              movies, music, travel
30        1  3.100                                        Digital Art
..      ...    ...                                                ...
71        1  3.150                      playing cricket, online games
72        1  3.430                                    Playing Cricket
73        1  3.500                                   Watching youtube
74        1  3.210                                        Photography
75        1  3.640                                      Playing games
76        0  3.500                     spending time with pet pigeons
77        1  3.400                                     Watching Movie
78        1  3.416                                             Gaming
79        1  3.680                                            Singing
80        1  3.150            Reading books, hanging out with friends
81        1  3.010                                  Watching football
82        0  3.240                                 collecting erasers
83        0  3.390                                 Reading, Traveling
84        0  3.570                                Spenting time alone
85        1  3.000                                    Watching movies
86        1  2.470                                    Playing cricket
87        1  3.300                                             Gaming
88        1  2.970                     Listening Music, Playing Games
89        1  3.440                                              Music
90        0  3.400                                       Reading book
91        1  2.800                                       Reading book
92        1  3.150                                             gaming
93        1  2.340                                          Gardening
94        1  3.180                                    Watching Movies
95        0  3.246                                      Reading Books
96        1  3.845                                   Watching cricket
97        0  2.500                                      making sketch
99        1  2.400                                          gardening
100       0  3.430                                            cooking
102       1  2.700                                   teaching student

    Reading_Hobby
1              no
2              no
3              no
4             yes
5              no
6             yes
7              no
8              no
9             yes
10            yes
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21            yes
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
..            ...
71             no
72             no
73             no
74             no
75             no
76             no
77             no
78             no
79             no
80            yes
81             no
82             no
83            yes
84             no
85             no
86             no
87             no
88             no
89             no
90            yes
91            yes
92             no
93             no
94             no
95            yes
96             no
97             no
99             no
100            no
102            no

[97 rows x 4 columns]

In [25]:
d[['Gender','CGPA','Reading_Hobby']]
print(d)

     Gender   CGPA                                              Hobby  \
1         1  3.710                                     Playing guitar
2         1  3.480  Watching TV Series, Anime, Documentaries. Maki...
3         1  2.900                                          Traveling
4         0  3.330                    Reading story books,travelling.
5         1  3.720                              not specific anything
6         1  3.430                     Reading books, Watching movies
7         0  3.270                                     playing violin
8         0  3.000                                  browsing internet
9         0  3.420                                      Reading Books
10        0  3.640                            Reading, Petting animal
11        1  3.360                Watching movies, listening to music
12        1  3.300                                            Drawing
13        1  2.750                Watching cricket and football on tv
14        1  3.400                        anime, tv series and movies
15        1  2.690                                 Travelling, Gaming
16        1  3.760                                     Watching Movie
17        1  2.965                                         Travelling
18        1  3.230                                           coocking
19        0  3.000                                           Painting
20        1  3.620                                      Playing games
21        0  3.620                                      Reading Books
22        1  2.880                                   Playing Football
23        1  3.380                                   Playing Football
24        1  3.250                                 watching tv series
25        0  3.690                                           painting
26        1  2.750                                             Sports
27        1  2.987                                           sleeping
28        1  2.500                                     playing guitar
29        0  3.530                              movies, music, travel
30        1  3.100                                        Digital Art
..      ...    ...                                                ...
71        1  3.150                      playing cricket, online games
72        1  3.430                                    Playing Cricket
73        1  3.500                                   Watching youtube
74        1  3.210                                        Photography
75        1  3.640                                      Playing games
76        0  3.500                     spending time with pet pigeons
77        1  3.400                                     Watching Movie
78        1  3.416                                             Gaming
79        1  3.680                                            Singing
80        1  3.150            Reading books, hanging out with friends
81        1  3.010                                  Watching football
82        0  3.240                                 collecting erasers
83        0  3.390                                 Reading, Traveling
84        0  3.570                                Spenting time alone
85        1  3.000                                    Watching movies
86        1  2.470                                    Playing cricket
87        1  3.300                                             Gaming
88        1  2.970                     Listening Music, Playing Games
89        1  3.440                                              Music
90        0  3.400                                       Reading book
91        1  2.800                                       Reading book
92        1  3.150                                             gaming
93        1  2.340                                          Gardening
94        1  3.180                                    Watching Movies
95        0  3.246                                      Reading Books
96        1  3.845                                   Watching cricket
97        0  2.500                                      making sketch
99        1  2.400                                          gardening
100       0  3.430                                            cooking
102       1  2.700                                   teaching student

    Reading_Hobby
1              no
2              no
3              no
4             yes
5              no
6             yes
7              no
8              no
9             yes
10            yes
11             no
12             no
13             no
14             no
15             no
16             no
17             no
18             no
19             no
20             no
21            yes
22             no
23             no
24             no
25             no
26             no
27             no
28             no
29             no
30             no
..            ...
71             no
72             no
73             no
74             no
75             no
76             no
77             no
78             no
79             no
80            yes
81             no
82             no
83            yes
84             no
85             no
86             no
87             no
88             no
89             no
90            yes
91            yes
92             no
93             no
94             no
95            yes
96             no
97             no
99             no
100            no
102            no

[97 rows x 4 columns]

In [26]:
e=d[['Gender','CGPA','Reading_Hobby']]
print(e)

     Gender   CGPA Reading_Hobby
1         1  3.710            no
2         1  3.480            no
3         1  2.900            no
4         0  3.330           yes
5         1  3.720            no
6         1  3.430           yes
7         0  3.270            no
8         0  3.000            no
9         0  3.420           yes
10        0  3.640           yes
11        1  3.360            no
12        1  3.300            no
13        1  2.750            no
14        1  3.400            no
15        1  2.690            no
16        1  3.760            no
17        1  2.965            no
18        1  3.230            no
19        0  3.000            no
20        1  3.620            no
21        0  3.620           yes
22        1  2.880            no
23        1  3.380            no
24        1  3.250            no
25        0  3.690            no
26        1  2.750            no
27        1  2.987            no
28        1  2.500            no
29        0  3.530            no
30        1  3.100            no
..      ...    ...           ...
71        1  3.150            no
72        1  3.430            no
73        1  3.500            no
74        1  3.210            no
75        1  3.640            no
76        0  3.500            no
77        1  3.400            no
78        1  3.416            no
79        1  3.680            no
80        1  3.150           yes
81        1  3.010            no
82        0  3.240            no
83        0  3.390           yes
84        0  3.570            no
85        1  3.000            no
86        1  2.470            no
87        1  3.300            no
88        1  2.970            no
89        1  3.440            no
90        0  3.400           yes
91        1  2.800           yes
92        1  3.150            no
93        1  2.340            no
94        1  3.180            no
95        0  3.246           yes
96        1  3.845            no
97        0  2.500            no
99        1  2.400            no
100       0  3.430            no
102       1  2.700            no

[97 rows x 3 columns]

In [27]:
e.to_excel('reading_hobby.xlsx')